body{
  font-family: Arial; /* CO1: Typography essentials */
  background:#f2f2f2; /* CO1: Color representations */
  margin:0;           /* CO1: Box model basics */
  padding:0;          /* CO1: Box model basics */
  text-align:center;
}

header{
  background:#4CAF50;
  color:white;
  padding:20px 0;    /* CO1: Foundational spacing */
}

header p{
  font-size:16px;    /* CO1: Typography essentials */
}

/* Sections */
section{
  background:white;
  width:90%;
  max-width:600px;
  margin:20px auto;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 10px gray; /* CO2: Styling for interactivity / visual enhancement */
}

h2{
  color:#333;
  margin-bottom:10px;
}

ul{
  list-style: none;
  padding:0;
}

ul li{
  margin:5px 0;
}

/* Inputs & Buttons */
input, select{
  width:90%;
  padding:8px;
  margin:8px 0;  /* CO2: Form layout & spacing */
}

button{
  padding:8px 15px;
  margin:5px;
  background:#4CAF50; /* CO2: Styling for interactivity */
  color:white;
  border:none;
  cursor:pointer;
}

/* Booking History */
#output{
  text-align:left;
  margin-top:10px;
}

/* Footer */
footer{
  background:#333;
  color:white;
  padding:10px 0;
  margin-top:20px;
}
